<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="relative flex flex-col items-center p-[2dvw] gap-[1dvh]">
  <section
    class="gradient-border-br4 relative py-[0.7dvh] px-[1dvw] text-2xl font-semibold rounded-[20px_20px_4px_20px] bg-glass mb-5">
    Авторизация
  </section>
  <input
    autocomplete
    class="w-[21dvw] h-[4dvh] py-[1dvh] px-[1dvw] rounded-lg bg-dark/80 text-base font-normal leading-5 placeholder-muted text-white focus:bg-dark focus:outline-none hover:bg-dark"
    formControlName="email"
    id="email" placeholder="Почта" required type="email">
  <input
    autocomplete
    class="w-[21dvw] h-[4dvh] py-[1dvh] px-[1dvw] rounded-lg bg-dark/80 text-base font-normal leading-5 placeholder-muted text-white focus:bg-dark focus:outline-none hover:bg-dark"
    formControlName="password" id="password" placeholder="Пароль" required type="password">
  <button
    class="w-[2.5dvw] h-[2.5dvw] mt-[2dvh] rounded-xl bg-brand bg-[url('/icons/next.svg')] bg-[auto_1.5dvw] bg-center bg-no-repeat hover:bg-brand/60 active:bg-brand/40 disabled:bg-brand/40"
    type="submit"></button>
  <div class="self-center flex flex-col gap-[1dvh] justify-end items-end">
    <section
      class="gradient-border-12-br4 relative py-[0.7dvh] px-[1dvw] bg-glass rounded-[12px_12px_4px_12px]">
      <a href="/reg">У меня еще нет аккаунта</a></section>
    <section
      class="gradient-border-12-br4 relative py-2 px-5 bg-glass rounded-[12px_12px_4px_12px]">
      <a href="/recovery">Я забыл пароль</a></section>
  </div>
</form>
