<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="relative flex flex-col items-center p-10 gap-2.5">
  <section
    class="gradient-border-br4 relative py-2 px-5 text-2xl font-semibold rounded-[20px_20px_4px_20px] bg-glass mb-5">
    Авторизация
  </section>
  <input
    autocomplete
    class="w-[400px] h-11 py-3 px-5 rounded-lg bg-dark/80 text-base font-normal leading-5 placeholder-muted text-white focus:bg-dark focus:outline-none hover:bg-dark"
    formControlName="email"
    id="email" placeholder="Почта" required type="email">
  <input
    autocomplete
    class="w-[400px] h-11 py-3 px-5 rounded-lg bg-dark/80 text-base font-normal leading-5 placeholder-muted text-white focus:bg-dark focus:outline-none hover:bg-dark"
    formControlName="password" id="password" placeholder="Пароль" required type="password">
  <button
    class="w-12 h-12 mt-5 rounded-xl bg-brand bg-[url('/icons/next.svg')] bg-center bg-no-repeat hover:bg-brand/60 active:bg-brand/40 disabled:bg-brand/40"
    type="submit"></button>
  <section
    class="gradient-border-12-br4 relative py-2 px-5 bg-glass rounded-[12px_12px_4px_12px] self-end mr-[25%]">
    <a href="/reg">У меня еще нет аккаунта</a></section>
  <section
    class="gradient-border-12-br4 relative py-2 px-5 bg-glass rounded-[12px_12px_4px_12px] self-end mr-[25%]">
    <a href="/recovery">Я забыл пароль</a></section>
</form>
