/*градиент для обводки*/
form::before, .form-title::before, .form-description::before, .link::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(146.88deg, #C5F6FAA3 0%, #C5F6FA28 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
  linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box,
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1000;
}

form::before {
  border-radius: 20px;
}
