<div class="container">
  <div class="content">
    <section class="title-section">
      <h1>Т.Т</h1>
      <h2>Онлайн чат</h2>
    </section>
    <form class="registration-form">
      <section class="form-title bubble">Регистрация</section>
      <section class="form-description bubble">Регистрируясь на сайте вы соглашаетесь с <a href="#">пользовательским
        соглашением</a>, <a href="#">политикой конфиденциальности</a>, а также с нашими <a href="#">правилами</a>
      </section>
      <div class="form-group">
        <input id="nickname" placeholder="Псевдоним" required type="text">
        <input id="email" placeholder="Почта" required type="email">
        <input id="password" placeholder="Пароль" required type="password">
      </div>
      <button class="submit-btn" type="submit"></button>
      <section class="link bubble"><a href="/auth">У меня уже есть аккаунт</a></section>
    </form>
  </div>
</div>
