<section class="flex flex-row gap-3 h-10 mb-4">
  <div
    class="flex flex-row gap-3 bg-brand/10 rounded-xl border-2 py-2.5 px-3 border-brand flex-grow">
    <img class="h-3.75 w-3.75" src="/icons/search.svg">
    <input
      class="bg-transparent border-none p-0 m-0 focus:border-none focus:outline-none active:border-none flex-grow"
      placeholder="Найти рум" type="text">
  </div>
  <button class="bg-dark/80 py-2.5 px-4 rounded-xl text-text font-medium text-16-20">Создать</button>
</section>
<section *ngIf="rooms.length > 0" class="flex flex-col gap-2">
  <ng-container *ngIf="pinnedRooms.length > 0">
    <app-room *ngFor="let room of pinnedRooms" [lastMessage]="room.lastMessage" [roomId]="room.ID.toString()"
              [roomLock]="room.locked" [roomPin]="room.pinned"></app-room>
    <hr class="border-brand/40 border-2">
  </ng-container>

  <app-room *ngFor="let room of otherRooms" [lastMessage]="room.lastMessage" [roomId]="room.ID.toString()"
            [roomLock]="room.locked" [roomPin]="room.pinned"></app-room>
</section>
