<div class="max-w-[41dvw] h-[60dvh]">
  <section>
    <app-message *ngFor="let msg of messages; index as i" [content]="msg.Content" [dateTime]="msg.SentAt"
                 [messageType]="msg.MessageType" [senderID]="msg.UserID"></app-message>
  </section>
</div>

<button (click)="closeSocket()" class="bg-brand border-2 border-darkBrand rounded-xl p-2 m-1">CLOSE CONNECTION</button>
<button (click)="sendMessage('Тестовое сообщение', 'user')"
        class="bg-brand border-2 border-darkBrand rounded-xl p-2 m-1">TEST MESSAGE
</button>
