@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #333333;
  --dark-90: #333333E5;
  --dark-80: #333333CC;
  --dark-60: #33333399;
  --link: #3BC9DB;
  --text: #fdfdfd;
  --text-muted: #FFFFFF80;
  --brand: #0c8498;
  --brand-60: #0C849899;
  --brand-40: #0C849866;
  --brand-10: #0C849819;
  --danger: #f85151;
  --glass: #C5F6FA33;
  --white: #fdfdfd;
  --white-60: #FDFDFD99;
  --white-50: #FDFDFD7F;
}

* {
  color: var(--text);
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark);
  width: 100%;
}

a {
  color: var(--link);
  text-decoration: none;
  background: none;
}

/*градиент для обводки*/
.gradient-border::before, .gradient-border-br4::before, .gradient-border-12-br4::before, .gradient-border-12-bl4::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(146.88deg, #C5F6FAA3 0%, #C5F6FA28 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1000;
}

.gradient-border::before {
  border-radius: 20px;
}

.gradient-border-br4::before {
  border-radius: 20px 20px 4px 20px;
}

.gradient-border-12-br4::before {
  border-radius: 12px 12px 4px 12px;
}

.gradient-border-12-bl4::before {
  border-radius: 12px 12px 12px 4px;
}
