:root {
  --dark: #333333;
  --dark-90: #333333E5;
  --dark-80: #333333CC;
  --dark-60: #33333399;
  --link: #3BC9DB;
  --text: #fdfdfd;
  --text-muted: #FFFFFF80;
  --brand: #0c8498;
  --brand-60: #0C849899;
  --brand-40: #0C849866;
  --brand-10: #0C849819;
  --danger: #f85151;
  --glass: #C5F6FA33;
  --white: #fdfdfd;
  --white-60: #FDFDFD99;
  --white-50: #FDFDFD7F;
}

* {
  color: var(--text);
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark);
  width: 100%;
}

a {
  color: var(--link);
  text-decoration: none;
  background: none;
}

.bubble {
  background: #C5F6FA33;
  display: inline-block;
  position: relative;
  border: none;
}
